/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

html {
  scroll-behavior: smooth;
}
/* Header */

/*Menu*/
header .menu {
  width: 100%;
  min-width: 1050px; /*mi permette di non spaccare il menu*/
  height: 70px;
  line-height: 70px;
  position: fixed; /*quando è fixed dare sempre la width*/
  top: 0;
  background-color: white;
}
.menu a:hover {
  border-bottom: 3px solid black;
}

/* Left Menu */
header .menu .menu-left {
  float: left;
  width: 50%;
}

header .menu .menu-left .logo-img {
  vertical-align: middle;
}

header .menu .menu-left li {
  display: inline-block;
  vertical-align: middle;
}

header .menu .menu-left li a {
  text-decoration: none;
  color: black;
  padding: 19px 16px;
}
/*Right Menu*/
header .menu .menu-right {
  float: left;
  width: 50%;
}

.menu-right ul {
  position: absolute;
  right: 0px;
}

header .menu .menu-right li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

header .menu .menu-right li a {
  text-decoration: none;
  color: black;
  padding: 19px 16px;
}

.btn-blue-small,
.btn-white-small {
  padding: 8px 10px;
}
.btn-blue-small,
.btn-blue-big,
.btn-white-big {
  text-decoration: none;
  border: none;
  color: white;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #0061ff;
}

.btn-blue-big,
.btn-white-big,
.btn-office,
.btn-white-big {
  padding: 8px 45px;
}
/* Jumbotron */
header .jumbotron {
  background-color: #b4d0e7;
}

.jumbotron .jumbo-container {
  width: 80%;
  height: 500px;
  margin: auto;
  padding-top: 100px;
}

.jumbo-container .jumbo-title {
  width: 60%;
}

h1,
h2,
h3 {
  font-size: 39px;
  font-weight: bold;
}

.jumbo-container .jumbo-text {
  float: left;
  width: 40%;
}

.jumbo-container .jumbo-image {
  float: left;
  width: 60%;
}
img {
  width: 100%;
}

.jumbo-text li {
  list-style: none;
  margin-top: 10px;
}

.anchor {
  text-decoration: none;
  font-size: 50px;
  color: black;
}

.scroll::before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0;
}
/* Main */ /*Trick*/
.scroll::before {
  content: "";
  display: block;
  height: 70px;
  margin: -70px 0;
}

main .title-columns h2 {
  font-size: 30px;
  padding-top: 150px;
  padding-bottom: 20px;
}
/*Check-box*/
.title-columns .check-container {
  float: left;
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.check-container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-container input:checked ~ .checkmark:after {
  display: block;
}
.check-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
}
/*Section Columns*/
main section.columns {
  position: relative;
  width: 68%;
  min-height: 1000px;
  margin: auto;
  margin-bottom: 100px;
}

.columns .column-left,
.column-center,
.column-right {
  width: calc(100% / 3 - 20px);
  float: left;
  margin: 10px;
  border: 1px solid lightgray;
}

.columns .category-column {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.text-column-left,
.text-column-center,
.text-column-right {
  width: 100%;
  padding: 20px;
}

.space {
  margin-bottom: 12px;
}
h6 {
  color: gray;
}
.line {
  width: 50px;
  border-top: 1px solid lightgray;
  margin-top: 40px;
}

i#blue-check {
  color: #0061ff;
}

section.columns .horizontal-column {
  width: 100%;
  position: absolute;
  bottom: 0px;
  border: 1px solid lightgray;
}

.btn-office {
  position: absolute;
  right: 30px;
  top: 65px;
}

.horizontal-column-text {
  width: 100%;
  padding: 25px;
}

.horizontal-column-text h4,
h5 {
  margin-bottom: 15px;
}
/*Section Find partner*/
main section.find-partner {
  width: 67%;
  margin: auto;
  margin-bottom: 80px;
}

.find-partner .find-partner-img,
.find-partner-text {
  float: left;
  width: 50%;
}

.find-partner-text h3 {
  font-size: 25px;
  margin: 25px 30px;
}

.find-partner-text p {
  margin: 25px 30px;
}

.find-partner-text .btn-white-small {
  color: black;
  border: 1px solid black;
  background-color: white;
  margin: 25px 30px;
}

main .title-columns,
.title-folder {
  width: 67%;
  margin: auto;
}

main section.folder {
  width: 67%;
  margin: auto;
}

section .row {
  width: 100%;
  height: 515px;
}

.row .box-row {
  float: left;
  width: calc(100% / 3 - 20px);
  margin: 10px;
}

.row .box-row .box-row-img {
  width: 100%;
}

.row .box-row .box-row-text {
  width: 100%;
}
/*Table*/
section.title-table {
  width: 40%;
  margin: 0 225px 0px;
}

.table {
  width: 100%;
  height: 536px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #f5f5f5;
}

.table .table-top {
  width: 100%;
  margin-top: 40px;
}

.table-top .table-top-left,
.table-top-center,
.table-top-right {
  width: calc(100% / 3);
  height: 100%;
  float: left;
}

.table-top-center {
  background-color: #f5f5f5;
  padding: 40px;
}

.tab-top-center-img {
  width: 100px;
}

.tab-text-center {
  width: 400px;
  margin-top: 40px;
}

.tab-top-center-author {
  margin-top: 40px;
}

.table-top-row-cube {
  float: left;
  width: 50%;
  height: 160px;
  padding: 55px;
}
/*Bg-color Brand*/
.designit {
  background-color: #a2d39b;
}

.arizona {
  background-color: #61082c;
  -bottom: 10px;
}

.florida {
  background-color: #1d93ce;
}

.topps {
  background-color: #f91c1d;
}

.world {
  background-color: #f91c1d;
}

.hearst {
  background-color: #b4d0e7;
}

.lonely {
  background-color: #0d2481;
}

.clear {
  background-color: #fed830;
}

/*Filter Brand*/
.color-img {
  filter: invert(1);
}

.table .table-bottom {
  width: 100%;
  height: 63%;
  background-color: #b4d0e7;
  padding: 122px 223px;
}

.table-bottom .tab-bottom-text h2 {
  float: left;
  width: 463px;
  color: #61082c;
  padding-bottom: 100px;
}

.table-bottom-btn {
  float: left;
  margin-left: 190px;
}

.btn-white-big {
  color: black;
  background-color: white;
}
/*FAQ*/
section.title-faq {
  width: 67%;
  margin: auto;
  margin-top: 267px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.faq {
  width: 67%;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid lightgray;
}

.faq .question {
  float: left;
  height: 100%;
  padding-top: 30px;
  margin-right: 250px;
}

.open-answer {
  float: left;
  padding-top: 30px;
}

.open-answer:hover {
  float: right;
  cursor: pointer;
}
.panel {
  display: none;
}
.open-answer:active .panel {
  display: block;
}

.open-answer:active .question {
  margin-bottom: 50px;
}

/*Footer*/
footer {
  background-color: black;
  padding-top: 50px;
  margin-top: 90px;
}

footer .container-footer {
  width: 80%;
  margin: auto;
  padding: 20px 50px 50px 50px;
}

.list {
  display: inline-block;
  width: 19%;
}

.list .list-top h4 {
  color: white;
}

.list-bottom {
  width: 60%;
  height: 216px;
}

.container-footer .list .list-bottom li {
  list-style: none;
}

.container-footer .list .list-bottom li a {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

#cover {
  visibility: hidden; /* l' ho reso invisibile*/
}

#line {
  border-bottom: 1px solid lightgray;
}

.world-icon {
  color: gray;
  margin-left: 185px;
  margin-top: 25px;
}

#language {
  color: gray;
}
