* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  height: 750px;
}

header .menu {
  height: 80px;
}

header .menu .menu-left {
  float: left;
  width: 50%;
  height: 80px;
  background-color: cadetblue;
}

header .menu .menu-right {
  float: left;
  width: 50%;
  height: 80px;
  background-color: crimson;
}

header .jumbotron {
  height: 500px;
  background-color: #b4d0e7;
}

.jumbotron .jumbo-container {
  width: 80%;
  height: 500px;
  margin: auto;
  padding-top: 60px;
  border: 1px solid black;
}

.jumbo-container .jumbo-title {
  width: 60%;
  height: 80px;
  margin: auto;
  background-color: green;
}

.jumbo-container .jumbo-text {
  float: left;
  width: 40%;
  height: 300px;
  border: 1px solid black;
}

.jumbo-container .jumbo-image {
  float: left;
  width: 60%;
  height: 400px;
  border: 1px solid black;
}

main {
  height: 700px;
  background-color: darkcyan;
}

main section.columns {
  position: relative;
  width: 60%;
  height: 600px;
  margin: auto;
  margin-bottom: 100px;
  border: 1px solid black;
}

main .title-columns,
.title-folder {
  width: 60%;
  height: 80px;
  margin: auto;
  border: 1px solid black;
}

.columns .column-left,
.column-center,
.column-right {
  width: calc(100% / 3 - 20px);
  float: left;
  height: 455px;
  margin: 10px;
  border: 1px solid black;
}

.columns .category-column {
  width: 100%;
  height: 25px;
  border: 1px solid black;
}

section.columns .horizontal-column {
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: 0px;
  border: 1px solid black;
}

main section.find-partner {
  width: 60%;
  height: 400px;
  margin: auto;
  margin-bottom: 80px;
}

.find-partner .find-partner-img,
.find-partner-text {
  float: left;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

main section.folder {
  width: 60%;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}

section .row {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.row .box-row {
  float: left;
  width: calc(100% / 3 - 20px);
  height: 150px;
  margin: 10px;
  border: 1px solid black;
}

.row .box-row .box-row-img {
  width: 100%;
  height: 80%;
  border: 1px solid black;
}

.row .box-row .box-row-text {
  width: 100%;
  height: 20%;
  border: 1px solid black;
}


